/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-div{
  display: inline;
  width: 100%;
  padding: 10px;
}
.text-div, .btn-div{
  display: inline-block;
  /* padding-top:20px; */
}
.marker-input{
  padding: 10px 5px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  width: 60%;
  
}
span.heading-info {
  font-weight: bold;
}
.currrentlocation {
  font-weight: bold;
  /* display: block; */
}

span.separator {
  border: 1px solid #d2d2d2;
  display: block;
}

.marker-btn{
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  border: 0.5px solid lightgray;
  cursor: pointer;
  /* display: inline-block;
  width: 30%; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
